page-details {
    ion-card{
        width: 100vw !important;
        margin: auto !important;
    }
    .myImg{
        margin: auto;
        width: 50%;
    }
    .iconYellow{
    color: #f4e242;
    }

}
